//fonts
$font-primary: "Roboto";
$font-secondary: "RobotoCondensed";

// all number color begin 200
$color-white: rgb(255, 255, 255);

$color-pink: rgb(230, 92, 237);

$color-violet: rgb(157, 70, 255);

$color-black: #383031;

$color-gradient-1: linear-gradient(36deg, rgb(230, 92, 237), rgb(157, 70, 255));
$color-gradient-2: linear-gradient(36deg, rgb(157, 70, 255), rgb(230, 92, 237));
$color-radial-1: radial-gradient(rgb(230, 92, 237), rgb(157, 70, 255));
